In [1]:
import pandas as pd

In [2]:
nba_4factor_path = "Resources/sportsref_fourfactors.xlsx"
nba_team_path = "Resources/sportsref_team_21.xlsx"
nba_opp_path = "Resources/sportsref_opp_21.xlsx"

In [3]:
nba_team = pd.read_excel(nba_team_path,"Worksheet")
nba_opp = pd.read_excel(nba_opp_path,"Worksheet")
nba_4fac = pd.read_excel(nba_4factor_path,"Worksheet")

In [4]:
nba_team.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Brooklyn Nets,42,243.0,43.7,87.3,0.500,14.8,37.0,0.400,...,0.799,8.6,35.4,44.0,26.8,6.5,5.3,14.3,19.0,120.4
1,2.0,Los Angeles Clippers,42,240.0,41.8,86.8,0.482,14.4,34.7,0.415,...,0.839,9.5,34.6,44.1,24.3,7.3,4.4,13.1,19.1,114.5
2,3.0,Utah Jazz,41,240.6,41.1,87.9,0.467,16.9,42.8,0.395,...,0.781,11.0,36.9,47.8,23.7,6.5,5.4,14.4,18.9,116.7
3,4.0,Milwaukee Bucks,40,240.6,44.4,91.6,0.485,14.5,37.5,0.386,...,0.749,10.5,38.0,48.5,26.0,8.2,4.8,13.9,17.8,119.5
4,5.0,Denver Nuggets,41,243.7,43.6,89.3,0.488,13.5,34.7,0.389,...,0.783,10.2,33.9,44.0,26.9,8.2,4.3,13.4,19.1,116.0

In [5]:
nba_opp.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,San Antonio Spurs,38,241.3,41.6,89.4,0.465,12.7,33.8,0.375,...,0.740,10.1,37.7,47.8,24.6,6.0,5.4,13.9,18.4,110.1
1,2.0,Memphis Grizzlies,38,240.7,40.4,85.8,0.471,13.0,34.9,0.372,...,0.782,8.8,34.9,43.8,25.4,8.1,5.5,16.3,18.1,110.8
2,3.0,Phoenix Suns,40,242.5,39.9,86.7,0.460,11.2,32.3,0.347,...,0.765,9.4,33.5,43.0,21.9,7.3,3.8,13.3,18.0,107.9
3,4.0,Los Angeles Lakers,41,243.0,40.0,88.0,0.455,11.6,32.8,0.353,...,0.758,8.8,32.5,41.2,25.0,8.1,4.1,14.9,21.6,106.3
4,5.0,New York Knicks,42,240.0,37.7,85.2,0.442,12.2,36.5,0.333,...,0.771,9.3,34.3,43.6,22.9,6.7,5.6,12.1,18.3,104.9

In [6]:
nba_4fac.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,OTOV%,ORB%,OFT/FGA,DeFG%,DTOV%,DRB%,DFT/FGA,Arena,Attend.,Attend./G
0,1.0,Utah Jazz,28.5,30.0,11.0,30,11,7.85,0.51,8.36,...,12.9,25.2,0.201,0.514,10.5,78.9,0.162,Vivint Smart Home Arena,51258,2848
1,2.0,Milwaukee Bucks,28.0,26.0,14.0,28,12,7.00,-0.41,6.59,...,12.1,23.5,0.176,0.531,11.6,80.2,0.158,Fiserv Forum,12300,615
2,3.0,Phoenix Suns,26.7,27.0,13.0,28,12,6.33,-0.30,6.03,...,12.3,19.6,0.174,0.524,12.1,78.8,0.196,Phoenix Suns Arena,33426,1519
3,4.0,Denver Nuggets,25.9,25.0,16.0,27,14,5.44,0.01,5.45,...,12.1,24.1,0.173,0.545,13.0,77.7,0.195,Ball Arena,0,0
4,5.0,Los Angeles Lakers,28.9,28.0,13.0,28,13,6.10,-0.71,5.39,...,13.5,23.2,0.201,0.520,13.4,80.2,0.167,STAPLES Center,0,0

In [7]:
#Offensive field goal % = highest should be rank 1
#Defensive field goal % = Lowest should be rank 1
#Offensive turnover % = lowest should be rank 1
#Defensive turnover % = highest should be rank 1
#Offensive free throw ratio = highest should be rank 1
#Defensive free throw ratio = lowest should be rank 1
#Offensive rebounding % = highest should be rank 1
#Defensive rebounding % = highest should be rank 1

In [8]:
nba_4fac["R(OeFG%)"] = nba_4fac["OeFG%"].rank(ascending = 0)
nba_4fac["R(DeFG%)"] = nba_4fac["DeFG%"].rank(ascending = 1)
nba_4fac["R(OTOV%)"] = nba_4fac["OTOV%"].rank(ascending = 1)
nba_4fac["R(DTOV%)"] = nba_4fac["DTOV%"].rank(ascending = 0)
nba_4fac["R(OFT/FGA)"] = nba_4fac["OFT/FGA"].rank(ascending = 1)
nba_4fac["R(DFT/FGA)"] = nba_4fac["DFT/FGA"].rank(ascending = 0)
nba_4fac["R(ORB%)"] = nba_4fac["ORB%"].rank(ascending = 0)
nba_4fac["R(DRB%)"] = nba_4fac["DRB%"].rank(ascending = 0)

In [9]:
#nba_4fac[["Team","DeFG%","R(DeFG%)"]]

In [10]:
nba_pytha = nba_team.merge(nba_opp,on="Team",suffixes=('_team','_opp'))

In [14]:
nba_pytha.head()

,Rk_team,Team,G_team,MP_team,FG_team,FGA_team,FG%_team,3P_team,3PA_team,3P%_team,...,FT%_opp,ORB_opp,DRB_opp,TRB_opp,AST_opp,STL_opp,BLK_opp,TOV_opp,PF_opp,PTS_opp
0,1.0,Brooklyn Nets,42,243.0,43.7,87.3,0.500,14.8,37.0,0.400,...,0.777,10.0,32.2,42.2,24.7,7.9,4.4,12.6,18.7,115.4
1,2.0,Los Angeles Clippers,42,240.0,41.8,86.8,0.482,14.4,34.7,0.415,...,0.780,8.8,32.5,41.3,23.4,7.2,3.5,13.1,17.9,109.6
2,3.0,Utah Jazz,41,240.6,41.1,87.9,0.467,16.9,42.8,0.395,...,0.776,9.9,32.5,42.4,22.5,7.5,4.1,11.7,19.9,108.9
3,4.0,Milwaukee Bucks,40,240.6,44.4,91.6,0.485,14.5,37.5,0.386,...,0.778,9.4,34.2,43.5,24.9,6.8,4.8,13.2,18.7,112.5
4,5.0,Denver Nuggets,41,243.7,43.6,89.3,0.488,13.5,34.7,0.389,...,0.765,9.7,32.1,41.8,26.6,7.1,4.2,14.4,19.9,110.6

In [15]:
nba_pytha = nba_pytha.merge(nba_4fac[["Team","W","L","PW","PL"]],on="Team")

In [16]:
nba_pytha.head()

,Rk_team,Team,G_team,MP_team,FG_team,FGA_team,FG%_team,3P_team,3PA_team,3P%_team,...,AST_opp,STL_opp,BLK_opp,TOV_opp,PF_opp,PTS_opp,W,L,PW,PL
0,1.0,Brooklyn Nets,42,243.0,43.7,87.3,0.500,14.8,37.0,0.400,...,24.7,7.9,4.4,12.6,18.7,115.4,28.0,14.0,27,15
1,2.0,Los Angeles Clippers,42,240.0,41.8,86.8,0.482,14.4,34.7,0.415,...,23.4,7.2,3.5,13.1,17.9,109.6,26.0,16.0,27,15
2,3.0,Utah Jazz,41,240.6,41.1,87.9,0.467,16.9,42.8,0.395,...,22.5,7.5,4.1,11.7,19.9,108.9,30.0,11.0,30,11
3,4.0,Milwaukee Bucks,40,240.6,44.4,91.6,0.485,14.5,37.5,0.386,...,24.9,6.8,4.8,13.2,18.7,112.5,26.0,14.0,28,12
4,5.0,Denver Nuggets,41,243.7,43.6,89.3,0.488,13.5,34.7,0.389,...,26.6,7.1,4.2,14.4,19.9,110.6,25.0,16.0,27,14

In [19]:
nba_pred = nba_pytha[["Team","G_team","W","L","PTS_team","PTS_opp"]]
nba_pred.head()

                   Team  G_team     W     L  PTS_team  PTS_opp
0         Brooklyn Nets      42  28.0  14.0     120.4    115.4
1  Los Angeles Clippers      42  26.0  16.0     114.5    109.6
2             Utah Jazz      41  30.0  11.0     116.7    108.9
3       Milwaukee Bucks      40  26.0  14.0     119.5    112.5
4        Denver Nuggets      41  25.0  16.0     116.0    110.6

In [21]:
nba_pred["pts_ratio"] = nba_pred["PTS_team"]/nba_pred["PTS_opp"]
nba_pred.head()

<ipython-input-21-86ffc9b508c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_pred["pts_ratio"] = nba_pred["PTS_team"]/nba_pred["PTS_opp"]

                   Team  G_team     W     L  PTS_team  PTS_opp  pts_ratio
0         Brooklyn Nets      42  28.0  14.0     120.4    115.4   1.043328
1  Los Angeles Clippers      42  26.0  16.0     114.5    109.6   1.044708
2             Utah Jazz      41  30.0  11.0     116.7    108.9   1.071625
3       Milwaukee Bucks      40  26.0  14.0     119.5    112.5   1.062222
4        Denver Nuggets      41  25.0  16.0     116.0    110.6   1.048825

In [22]:
nba_pred["win%"]=nba_pred["W"]/nba_pred["G_team"]
nba_pred.head()

<ipython-input-22-5a7c02137c1d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_pred["win%"]=nba_pred["W"]/nba_pred["G_team"]

,Team,G_team,W,L,PTS_team,PTS_opp,pts_ratio,win%
0,Brooklyn Nets,42,28.0,14.0,120.4,115.4,1.043328,0.666667
1,Los Angeles Clippers,42,26.0,16.0,114.5,109.6,1.044708,0.619048
2,Utah Jazz,41,30.0,11.0,116.7,108.9,1.071625,0.731707
3,Milwaukee Bucks,40,26.0,14.0,119.5,112.5,1.062222,0.650000
4,Denver Nuggets,41,25.0,16.0,116.0,110.6,1.048825,0.609756

In [36]:
exp = 1
min =10
min_exp = 0
for exp in range(100): 
    mad1 =abs(nba_pred["pts_ratio"]**exp/(nba_pred["pts_ratio"]**exp+1)-nba_pred["win%"]).mean()
    if mad1 < min:
        min = mad1
        min_exp = exp
print(min_exp)
print(min)
nba_pred["pred.win%"]= nba_pred["pts_ratio"]**min_exp/(nba_pred["pts_ratio"]**min_exp+1)

12
0.04488054837599441

<ipython-input-36-7075b3adc182>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_pred["pred.win%"]= nba_pred["pts_ratio"]**min_exp/(nba_pred["pts_ratio"]**min_exp+1)

In [37]:
nba_pred.head()

,Team,G_team,W,L,PTS_team,PTS_opp,pts_ratio,win%,pred.win%,avg.dev
0,Brooklyn Nets,42,28.0,14.0,120.4,115.4,1.043328,0.666667,0.624568,0.042099
1,Los Angeles Clippers,42,26.0,16.0,114.5,109.6,1.044708,0.619048,0.628281,0.009233
2,Utah Jazz,41,30.0,11.0,116.7,108.9,1.071625,0.731707,0.696380,0.035327
3,Milwaukee Bucks,40,26.0,14.0,119.5,112.5,1.062222,0.650000,0.673566,0.023566
4,Denver Nuggets,41,25.0,16.0,116.0,110.6,1.048825,0.609756,0.639234,0.029478

In [38]:
nba_pred["avg.dev"]=abs(nba_pred["win%"]-nba_pred["pred.win%"])
nba_pred.head()

<ipython-input-38-d24a68ee1e65>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_pred["avg.dev"]=abs(nba_pred["win%"]-nba_pred["pred.win%"])

,Team,G_team,W,L,PTS_team,PTS_opp,pts_ratio,win%,pred.win%,avg.dev
0,Brooklyn Nets,42,28.0,14.0,120.4,115.4,1.043328,0.666667,0.624568,0.042099
1,Los Angeles Clippers,42,26.0,16.0,114.5,109.6,1.044708,0.619048,0.628281,0.009233
2,Utah Jazz,41,30.0,11.0,116.7,108.9,1.071625,0.731707,0.696380,0.035327
3,Milwaukee Bucks,40,26.0,14.0,119.5,112.5,1.062222,0.650000,0.673566,0.023566
4,Denver Nuggets,41,25.0,16.0,116.0,110.6,1.048825,0.609756,0.639234,0.029478

In [39]:
mad = nba_pred["avg.dev"].mean()
mad

0.04488054837599441